body {
    background-color: #282c34;
    color: white;
    padding: 30px;
}

.caja {
  width: 200px;
  height: 200px;
  border: 2px solid gray;
  text-align: center;
  line-height: 200px;
}

.label {
  background: blue;
  padding: 10px;
}
.label.label-green {
  background: green;
}