body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


form {
  display: flex;
  font-size: 18px;
  flex-direction: column;
}

input, button {
  font-size: 18px;
  padding: 10px;
  margin-bottom: 5px;
}

.myCaja {
  border: 3px solid white;
  padding: 10px;
  margin-bottom: 10px;
}

.fondoVerde {
  background: green;
}

.tareas-container{
  width:80%;
 }

 input[type="text"],
 input[type="submit"]{
  padding:20px;
  width:50%;
 }

input[type="submit"]{
        width:15%;
        background: green;
        color:white;
        font-weight:bold;
        border:none;
}



#caja {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 100px;
  height: 100px;
  background: blueviolet;
}